version: "3.9"
services:
  postgres:
    image: postgres:17.4
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: my_first_pg_crud
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pg_data:
